<main xmlns="http://www.w3.org/1999/html">
  <section>
    <img class="main-icon" ngSrc="/main-icon.svg" alt="comidas" height="57" width="57">
    <h3 class="header">Minhas Receitas</h3>
    <form [formGroup]="recoverPasswordForm" class="formColumn">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" id="email" formControlName="email"/>
      </mat-form-field>
      <div class="button-group">
        <button mat-button disableRipple class="custom-button white-button" (click)="back()">Cancelar</button>
        <button mat-flat-button disableRipple class="custom-button" (click)="submit()"
                [disabled]="recoverPasswordForm.invalid">
          Recuperar Senha
        </button>
      </div>
    </form>
  </section>
</main>
