<main xmlns="http://www.w3.org/1999/html">
  <section>
    <h2>Minhas Receitas</h2>
    <form [formGroup]="recoverPasswordForm" class="formColumn">
      <label for="email">Email</label>
      <input type="text" id="email" formControlName="email" placeholder="mail@email.com"/>
      <div class="buttonGroup">
        <button (click)="back()">Cancelar</button>
        <button (click)="submit()" [disabled]="recoverPasswordForm.invalid">Cadastrar</button>
      </div>
    </form>
  </section>
</main>
