<div class="main-container">
  <mat-toolbar>
    <span>Produtos</span>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <form [formGroup]="productForm" class="product-form">
    <div>
      <mat-form-field class="input-name" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput id="name" type="text" formControlName="name">
      </mat-form-field>
      @if (!editProductId) {
        <button mat-flat-button class="custom-button" (click)="submit()" [disabled]="productForm.invalid">Adicionar</button>
      } @else {
        <button mat-flat-button class="custom-button" (click)="submit()" [disabled]="productForm.invalid">Atualizar</button>
      }
    </div>
    <div>
      <mat-form-field class="input-search" appearance="outline">
        <mat-label>Pesquisar...</mat-label>
          <input matInput id="search" type="text" [formControl]="searchControl"/>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
  </form>
  <table mat-table [dataSource]="filteredProducts">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="blue-icon" (click)="edit(element)">
          <span class="material-symbols-outlined">edit_square</span>
        </button>
        <button mat-icon-button class="red-icon" (click)="delete(element.id)">
          <span class="material-symbols-outlined">delete</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
