<mat-toolbar>
  <span>Produtos</span>
</mat-toolbar>
<mat-divider></mat-divider>
<form [formGroup]="productForm">
  <label for="name">Nome</label>
  <input type="text" id="name" formControlName="name" />
  <button (click)="submit()" [disabled]="productForm.invalid">Adicionar</button>
  <mat-form-field class="example-full-width">
    <input type="tel" matInput placeholder="Pesquisar">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>
<mat-card>
  <table mat-table [dataSource]="products" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="testando(element)">EDITAR</button>
        <button (click)="testando(element)">REMOVER</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
