<div class="main-container">
  <mat-toolbar>
    <span>Alterar Senha</span>
  </mat-toolbar>
  <mat-divider></mat-divider>
  <form class="passwords-container" [formGroup]="passwordForm">
    <mat-form-field class="form-field-padding" appearance="outline">
      <mat-label>Senha Atual</mat-label>
      <input id="currentPassword" formControlName="currentPassword" matInput required
             [type]="hide() ? 'password' : 'text'"/>
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint class="hint-color">{{getErrorMessage('currentPassword')}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="form-field-padding" appearance="outline">
      <mat-label>Nova Senha</mat-label>
      <input id="newPassword" formControlName="newPassword" matInput required [type]="hide() ? 'password' : 'text'"/>
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint class="hint-color">{{getErrorMessage('newPassword')}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="form-field-padding" appearance="outline">
      <mat-label>Repetir Senha</mat-label>
      <input id="confirmPassword" formControlName="confirmPassword" matInput required
             [type]="hide() ? 'password' : 'text'"/>
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-hint class="hint-color">{{getErrorMessage('confirmPassword')}}</mat-hint>
    </mat-form-field>
    <button class="custom-button" (click)="submit()" mat-flat-button [disabled]="passwordForm.invalid">Salvar</button>
  </form>
</div>
