.main-container {
  padding: 18px;
}

.passwords-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.form-field-padding {
  padding-bottom: 28px;
}

.hint-color {
  color: rgb(65, 0, 2);
}
