.main-container {
  padding: 18px;
}

.passwords-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.form-field-padding {
  padding-bottom: 28px;
}

.hint-color {
  color: rgb(65, 0, 2);
}

.custom-button {
  background-color: #14AE5C !important;
  color: white !important;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #11994F;
  }

  &:disabled {
    background-color: rgba(26, 27, 31, 0.12) !important;
    color: rgba(26, 27, 31, 0.38) !important;
  }
}
