<mat-toolbar class="side-nav">
  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Minhas Receitas</span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav opened mode="side" [style.width]="'250px'">
    <app-sidenav-menu></app-sidenav-menu>
  </mat-sidenav>
  <mat-sidenav-content class="content">

  </mat-sidenav-content>
</mat-sidenav-container>
