<mat-toolbar>
  <span>{{ categoryName }}</span>
</mat-toolbar>

<input
  type="text"
  placeholder="Pesquisar..."
  [formControl]="searchControl"
  class="form-control"
/>

@if (!loading){
  @for (recipe of filteredRecipes; track recipe.id) {
    <div class="parent">
      <mat-card class="media-grid" appearance="outlined" (click)="viewRecipe(recipe)">
        <figure>
          <img [src]=recipe.image alt="" height="150px" width="150px">
        </figure>
        <p>{{ recipe.name }}</p>
      </mat-card>
    </div>
  } @empty {
    <div>Sem receitas</div>
  }
} @else {
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
}
